body{
    background-color: blue;
}

h1{
    color: aqua;
    font-size: 22pt;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: bisque;
}

.forma{
    text-align: justify;
    font-size: 11pt;
    color: aquamarine;
}

.egy{
    text-align: right;
    color: brown;
}

.ketto{
    text-align: center;
    color: cornflowerblue;
}